@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Michroma", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #e5e5e5;
    background-image: url("Untitled.png");
    background-size: 100% 100%;
    background-repeat: no-repeat-y;
    display: flex;
    flex-direction: column;
}

.site {
    flex: 1;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

textarea::placeholder {
    color: rgb(226, 43, 43);
    font-size: 1vw;
}

.placeholder-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.text1, .text2 {
    width: 80%;
    max-width: 500px;
    height: 30vh;
    resize: none;
    font-size: 1vw;
    color: rgb(206, 178, 178);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5rem;
    background-color: #42414156;
    margin-bottom: 1rem;
}

.text2 {
    background-color: #22202056;
    display: none; /* Esconde inicialmente */
}

.Aviso {
    color: rgba(243, 243, 243, 0.836);
    font-size: 0.8vw;
    text-align: center;
    margin-bottom: 0.3rem;
}

.botoes {
    background: #7eaac73b;
    color: rgba(243, 243, 243, 0.836);
    padding: 0.3rem 0.8rem;
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
    margin: 0.3rem;
}

.f {
    color: rgba(243, 243, 243, 0.836);
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
}

.historico_Container {
    width: 80%;
    max-width: 500px;
    margin-top: 1rem;
}

.historico_Content {
    color: rgba(243, 243, 243, 0.836);
    font-size: 0.8vw;
    margin-top: 0.5rem;
}

.historico-item {
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .site {
        flex-direction: row;
        justify-content: space-around;
    }

    .text1, .text2 {
        height: 35vh;
    }
}